.cart {
  &__item {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__image {
    height: 16rem;
    width: 14rem;
    object-fit: contain;
  }
  &__price {
    font-size: $default-font-size;
    margin: auto;
  }

  &__quantity {
    display: block;
    width: 6rem;
    height: 3rem;
    font-size: $default-font-size;
    margin: auto;
  }

  &__title {
    font-size: $default-font-size;
    font-weight: 400;
    width: 20rem;
  }

  &__delete {
    font-size: $default-font-size;
    color: $color-white;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    background: $color-red;

    margin: auto;
  }

  &__col {
    &--1 {
      display: flex;
      flex-direction: column;
    }
    &--2 {
      display: flex;
      flex-direction: column;
    }
    &--3 {
      display: flex;
      flex-direction: column;
    }
    &--4 {
      display: flex;
      flex-direction: column;
    }
  }

  &__action {
    margin-right: 22rem;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4rem;

    p {
      font-size: 2rem;
    }
  }
  &__pay {
    cursor: pointer;
    width: 15rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background: $color-primary;

    font-size: 1.8rem;
    transition: all 400ms ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 5rem rgba($color: $color-black, $alpha: 0.1);
    }
  }
}
