.home {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.section-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
